
#lupinha{
    height: 25px;  
}
#pesquisar{
    width: 500px;
}
header input img{
    height: 99px;
}
header input{
    width: 100px;
}

header img{
    height: 99px;
}
#section-banners img{
    height: 300px;
    margin-bottom: 100px;
    
}
.btn-group{
    margin: 10px;
    align-items: center;
}
#vendidos{
    display: flex;
    justify-content:space-evenly;
    text-align: center;
}
#vendidos img{
    height: 400px;
}
#popular{
    display: flex;
    justify-content:space-evenly;
    text-align: center;
}
#popular img{
    height: 400px;
}
main{
    margin: 20px;
}
h5{
    margin: 20px;
    text-align: center;
}
.card-title{
    align-items: center;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
footer{
    background-color: rgb(230, 229, 229);
    height: 300px;
}
.page-footer img{
    height: 50px;
    
}
#logorodape{
    height: 100px;
}

#melao{
    justify-content: flex-start;
    position: absolute;
    right: 0%;
    left: 90%;
}